@font-face {
  font-family: "Block Berthold";
  src: url('fonts/Block Berthold Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Flexure";
  src: url('fonts/Flexure.ttf') format('truetype');
}

@font-face {
  font-family: "Zurich Extended";
  src: url('fonts/Zurich Extended BT.ttf') format('truetype');
}

@font-face {
  font-family: "Hypnos";
  src: url('fonts/Hypnos-Regular.otf') format('opentype');
}

@font-face {
  font-family: "Shotgun";
  src: url('fonts/Shotgun Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Pusab";
  src: url('fonts/PUSAB___.ttf') format('truetype');
}

@font-face {
  font-family: "Kabel";
  src: url('fonts/Kabel Bold.ttf') format('truetype');
}

@font-face {
  font-family: "ITC Avant Garde";
  src: url('fonts/ITCAvantGardePro-Md.ttf') format('truetype');
}

body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
  /*background-color: #B02C37;*/
  padding: 0;
}

.main {
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #f6e7cb;
  /*background-image: url(images/background02.svg);*/
  /*background-size: 25% auto;*/
  /*background-repeat: repeat;*/
  margin: 0;
  /*padding-bottom: 15%;*/
}

.header {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  /*flex-direction: row;*/
  justify-content: center;
  align-content: center;
  background-color: #FFF5E2;
}

.logo {
  margin-top: auto;
  margin-bottom: auto;
  /*margin-left: auto;*/
  padding-left: 1%;
  flex: 1;
}

h1 {
  display: inline-block;
  font-family: "Shotgun";
  /*transform: scaleY(0.5);*/
  font-size: 300%;
  margin-top: auto;
  margin-bottom: auto;
  /*justify-self: center;*/
  margin-left: auto;
  margin-right: auto;
}
.right {
  flex: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #f6e7cb;
}

ul li a {
  font-family: "Kabel";
  display: block;
  color: #BE9AB6;
  padding: 20px 30px;
  text-decoration: none;
}

ul li a:hover {
  color: #f6e7cb;
  background-color: #E2BAC9;

}

ul li a:active {
  background-color: #BE9AB6;
}



.videodiv {
  padding: 7% 0% 7% 0%;
  margin-right: 0%;
  margin-left: 0%;
  width:100%;
  /*background-color: #DBA6C0;*/
  background-image: url(images/background01.svg);
  background-size: 120%;
  /*background-repeat: repeat;*/


  
}
video {
  display: block;
  margin: 0 auto;
}
.bio{
  /*background-color: #e9d8b9;*/
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 2% 5% 2% 5%;
  align-content: center;
  display: flexbox;
}
.spacer{
  border: 1px solid #d4bc8f;
}
.bio p{
  font-family: ""ITC Avant Garde"";
  margin: 5% auto 5% auto;
  /*padding-left: 25%;*/
  font-size: 150%;
  /*padding-right: 25%;*/
  text-align: center;
  color: #354242;
  font-weight: lighter;
}
.software-icons {
  max-width: 75%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
}
.experience {
  margin-top: 5%;
  margin-bottom: 0;
  padding-top: 10%;
  padding-bottom: 10%;
  background-image: url(images/background02.svg);
  background-size: 120%;
}
.filmtitle {
  font-family: "Kabel";
  font-size: 30px;
  margin: 0;
  margin-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  color: #FFF5E2;
  font-weight: bold;
}
.filmrole {
  font-family: "ITC Avant Garde";
  font-size: 20px;
  margin: 0;
  margin-top: 1%;
  margin-bottom: 3%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  color: #FFF5E2;
  font-weight: bold;
}


.gallery {
  display: flex;
  flex-direction: column;
  background-color: #f6e7cb;
  padding: 3%;
  padding-top: 5%
}
.galleryitems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallerycontainer {
  background-color: #BE9AB6;
  background-image: url(images/background01.svg);
  background-size: 120%;
  padding: 10%;
  padding-top: 3%;
  margin-bottom: 0;
}

.galleryhighlight {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2%;
  background-image: url(images/background02.svg);
  margin-bottom: 5%;
  
}
.galleryhighlight video{
  /*flex: 1;*/
  /*width: fit-content;*/
  /*height: 360px;*/
  /*border: 4px solid #000000;*/
  /*margin: 2%;*/
}
.galleryhighlight p{
  padding: 2%;
  margin: 0;
  font-size: 20px;
  align-self: center;
  font-family: "Kabel";
  color: #FFF5E2;
  /*margin: 1%*/
}

.galleryitem {
  display: flex;
  /*aspect-ratio: 16/9;*/
  margin: 7px;
  border: 7px solid #339180;
  width: 45%;
  max-width: 400px;
  min-width: 230px;
  align-content: center;
  justify-content: center;
  background-color: #000000
}
.galleryitem img{
  width: 100%;
  align-self: center;
  height: auto;
}

.galleryitem video{
  width: 100%;
  height: auto;
}

.soundgallery {
  padding: 3%;
  padding-bottom: 0;
  /*padding-top: 3%;*/
  background-image: url(images/background02.svg);
  display: flex;
  flex-direction: column;
}

.soundgalleryitem {
  /*width: fit-content;*/
  /*height: fit-content;*/
  margin-bottom: 5%;
  display: flex;
  padding: 3%;
  flex-direction: row;
  /*align-content: space-between;*/
  justify-content: center;
  /*align-content: stretch;*/
  
  /*background-image: url(images/bg_image01.png);*/
  /*background-image: url(images/background02.svg);*/
  background-color: #f6e7cb;
  background-size: 120%;
  /*background-size: 25% auto;*/
  /*background-repeat: repeat;*/
}

.soundgalleryitem video{
  width: 50%;
  align-self: center;
  /*height: auto;*/
}

.soundgallerytext{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 3%;
  justify-content: center;
  /*background-color: #f6e7cb;*/
  background-image: url(images/background01.svg)
  /*
  font-family: "Kabel";
  font-weight: bold;
  color: #FFF5E2;
  */
}

.soundgallerytext h2{
  font-family: "Kabel";
  font-weight: bold;
  color: #FFF5E2;
  font-size: 150%
}

.soundgallerytext p{
  font-family: "Kabel";
  font-weight: normal;
  color: #FFF5E2;
}

iframe.instagram-media {
    max-width: 100% !important;
    width: 100% !important;
    min-width: auto !important;
  height: 335px
}

iframe.youtube-media {
    max-width: 100% !important;
    /*width: 100% !important;*/
    min-width: auto !important;
    /*height: auto*/
  /*height: 335px*/
}

.media-container {
  width: fit-content;
  height: fit-content;
  display: flex;
  /*align-content: center;*/
}

.soundgalleryitem audio{
  margin-right: 3%;
  align-self: center;

}

.embedcontainer {
  display: flex;
  justify-content: center;
  justify-self: center;
  margin: 2% 5% 2% 5%;
  /*margin-top: 5%*/
  /*max-width: 900px;*/
}


.space {
  flex-grow: 0.75;
}
.footer {
  margin-top: 0;
  padding-top: 3%;
  padding-bottom: 0;
  width: 100%;
  /*background-color: #BF5441;*/
  background-color: #366351;
}

.contactcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  margin-bottom: 2%;
}


.contactlink {
  text-align: center;
  color: #f5e5dd
}

a{
  font-family: "Kabel";
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: #ece7db;
}
a:hover{
  color: #78b390;
}

.footertextcontainer{
  display: flex;
  justify-content: center;
  margin: 1%;
}
.footertext {
  font-family: "ITC Avant Garde";
  color: #78b390;
  margin-bottom: 0;
  margin-top: 2%;
  font-weight: lighter;
  font-size: 16px;
  padding-bottom: 0;
  display: inline-block;
  /*transform: scaleY(0.7);*/
  /*margin-left: 50%;*/
  /*margin-right: auto;*/
}